In [4]:
range(0,5) # range is a built-in function in Python 3 that returns a sequence of numbers

range(0, 5)

In [5]:
print(type(range(0,5)))  # This will print <class 'range'>, indicating that range is a built-in type

<class 'range'>

In [9]:
array = range(0, 5)  # Create a range object from 0 to 4
for i in array:  # Iterate through the range object
    print(i,end="")  # Print each number in the range

01234

In [13]:
arrar = list(range(0, 5))  # Convert the range object to a list
print(arrar)  # Print the list, which will be [0, 1, 2, 3, 4]
print(type(arrar))  # This will print <class 'list'>, indicating that arrar is a list

[0, 1, 2, 3, 4]
<class 'list'>

In [19]:
user_names_list = ["anil",233,23,2332,43,56,7]
roll_numeber = range(1, 10)

In [25]:
## slicing
print(user_names_list[0:-1])  # ['anil', 233]

['anil', 233, 23, 2332, 43, 56]

In [27]:
user_names_list.append("suresh")
print(user_names_list)  # ['anil', 233, 23, 2332, 43, 56, 7, 'suresh']

['anil', 233, 23, 2332, 43, 56, 7, 'suresh', 'suresh']

In [32]:
index_of_suresh = user_names_list.index("suresh")
print(index_of_suresh)  # 7

7

In [34]:
## slicing with step size
print(user_names_list[0:5:2])  # ['anil', 23, 43]

['anil', 23, 43]

In [ ]:
## list comprehension similar to map in functional programming
roll_numeber_list = list(range(1, 10))
def square(x):
    return x * x
squared_roll_number = [square(x) for x in roll_numeber_list]
print(squared_roll_number)  # [0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
## multiple loops list comprehensiton
names = ["anil", "suresh", "ramesh"]
numbers = [32, 2, 3]
names_numbers = [(name, numbers[index]) for (index,name) in enumerate(names)]
print(names_numbers)

[('anil', 32), ('suresh', 2), ('ramesh', 3)]

In [15]:
## create a set
roll_set = {1, 2, 3, 4, 5, 6,7,7}
print(roll_set)

# set with mix vars
mix_set = {1, 2, 3, 4.5, "hello", (1, 2)}
print(mix_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4.5, 'hello', (1, 2)}

In [16]:
print(f'mix set {mix_set}')

mix set {1, 2, 3, 4.5, 'hello', (1, 2)}

In [8]:
mix_set.remove(4.5)
print(f'mix set after removing 4.5 {mix_set}')

mix set after removing 4.5 {1, 2, 3, 'hello', (1, 2)}

In [17]:
mix_set.remove("hello")
print(f'mix set after removing "hello" {mix_set}')

mix set after removing "hello" {1, 2, 3, 4.5, (1, 2)}

In [18]:
mix_set.remove((1, 2))
print(f'mix set after removing (1, 2) {mix_set}')

mix set after removing (1, 2) {1, 2, 3, 4.5}

In [19]:
a = (1,2)
b = (1,2)
print(f'a == b: {a == b}')

a == b: True

In [26]:
## set methods

set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(f'set1 intersection set2: {set1.intersection(set2)}')
# modify set1 inplace to keep only elements that are also in set2
set1.intersection_update(set2)
print(f'set1 union set2: {set1}')

set1 intersection set2: {3}
set1 union set2: {3}

In [ ]:
## This script demonstrates the use of a dictionary in Python.
student = {
    "name": "John Doe",
    "age": 25,
    3:"sdf"
}

print("Student Information:",student)

Student Information: {'name': 'John Doe', 'age': 25, 3: 'sdf'}

In [12]:
## Accesing the values
print("Name:", student["name"])
print("Age:", student.get("age"))
print("ID:", student.get(4, "Not Found"))  # Using get to avoid KeyError

Name: John Doe
Age: 25
ID: Not Found

In [13]:
## Deleting a key-value pair
del student["age"]
print("After deletion:", student)

After deletion: {'name': 'John Doe', 3: 'sdf'}

In [ ]:
## Dectionary methods
keys  = student.keys()
print(type(keys))

## Iterating through the dictionary keys
print("Keys:", keys)

## Iterating through the dictionary keys
print("Values:", student.values())

## Iterating through the dictionary with each item as a tuple
print("Items:", student.items())

<class 'dict_keys'>
Keys: dict_keys(['name', 3])
Values: dict_values(['John Doe', 'sdf'])
Items: dict_items([('name', 'John Doe'), (3, 'sdf')])

In [ ]:
## iterating through the dictionary

## Using a for loop to iterate through items
for key, value in student.items():
    print(f"{key}: {value}")
    
## Using a for loop to iterate through keys
for key in student.keys():
    print(f"Key: {student[key]}")
    
## Using a for loop to iterate through values
for key in student:
    print(f"{key}, {student[key]}")
    
student_list =  list(student)
print("Student List:", student_list)

name: John Doe
3: sdf
Key: John Doe
Key: sdf
name, John Doe
3, sdf
Student List: ['name', 3]

In [32]:
## Dictionaires comprhensions

squared_numbers = {x: x**2 for x in range(1, 6)}
print("Squared Numbers:", squared_numbers)

Squared Numbers: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [34]:
## conditional dictionary comprehension
filtered_numbers = {x: x**2 for x in range(1, 11) if x % 2 == 0}
print("Filtered even Numbers:", filtered_numbers)

Filtered even Numbers: {2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [1]:
## tuples represent a sequence of immutable objects
# tuples are defined by enclosing the elements in parentheses
# tuples can be nested, like lists
# tuples can be used as keys in dictionaries

student = ("John", "Doe", 20, "Computer Science")
print(student)

('John', 'Doe', 20, 'Computer Science')

In [ ]:
## operations on tuples

# accessing elements
print(student[0])  # Output: John
print(student[1:])  # Output: Doe

John
('Doe', 20, 'Computer Science')

In [4]:
##concatenation
ram = ("Ram", "Sharma", 22, "Mathematics")
# concatenation of tuples
combined_student = student + ram
print(combined_student)

('John', 'Doe', 20, 'Computer Science', 'Ram', 'Sharma', 22, 'Mathematics')

In [7]:
## repetition
# repetition of tuples
repeated_student = student * 2
print(repeated_student)

('John', 'Doe', 20, 'Computer Science', 'John', 'Doe', 20, 'Computer Science')

In [8]:
## immutability test
try:
    student[0] = "Jane"  # Attempting to change the first element
except TypeError:
    print("Tuples are immutable, cannot change elements.")

Tuples are immutable, cannot change elements.

In [9]:
## packing and unpacking of tuples
# packing
student_data = ("John", "Doe", 20, "Computer Science")
# unpacking
name, surname, age, field_of_study = student_data
print(name)  # Output: John
print(surname)  # Output: Doe
print(age)  # Output: 20
print(field_of_study)  # Output: Computer Science

John
Doe
20
Computer Science

In [15]:
## using * unpacking with *
first_name, *other_info,subject = student_data
print(first_name, 'other_info:',*other_info,"subject:",subject)  # Output: John

John other_info: Doe 20 subject: Computer Science

In [1]:
def calculate_sum(*args):
    """
    Calculate the sum of all arguments passed to the function.
    
    :param args: Variable length argument list
    :return: Sum of all arguments
    """
    return sum(args)

In [2]:
print(calculate_sum(1, 2, 3, 4, 5))  # Output: 15

15

In [ ]:
## keywords arguments
def calculate_sum_with_keywords(**kwargs):
    """
    Calculate the sum of values from keyword arguments.
    
    :param kwargs: Keyword arguments where values are summed
    :return: Sum of all values in kwargs
    """
    return sum(kwargs.values())

print(calculate_sum_with_keywords(a=1, b=2, c=3))  # Output: 6

6

In [6]:
## passing a dictionary as an arguement

def calculate_sum_from_dict(data):
    """
    Calculate the sum of values in a dictionary.
    
    :param data: Dictionary with numeric values
    :return: Sum of all values in the dictionary
    """
    return sum(data.values())

print(calculate_sum_from_dict({"a": 1, "b": 2, "c": 3}))

6

In [8]:
## A function returning nothing

def print_message(message):
    """
    Print a message to the console.
    
    :param message: The message to print
    """
    print(message)
    
    return None
    
print(print_message("Hello, World!"))  # Output: Hello, World!

Hello, World!
None

In [10]:
## lamda functions
def square(x):
    """
    Return the square of a number using a lambda function.
    
    :param x: Number to be squared
    :return: Square of the number
    """
    return x ** 2

## Lambda function to square a number
square_lambda = lambda x: x ** 2

print(square(5))  # Output: 25
print(square_lambda(5))  # Output: 25

25
25

In [ ]:
## Maps in Python
number_list = [1, 2, 3, 4, 5]

## GOAL to create a new list with the squares of the numbers in number_list

## using list comprehension
squared_numbers = [ num**2 for num in number_list]
print('squared_numbers',squared_numbers)

## using map function
squared_numbers_map = list(map(lambda x: x**2, number_list))
print('map-functions', squared_numbers_map)

squared_numbers [1, 4, 9, 16, 25]
map-functions [1, 4, 9, 16, 25]

In [2]:
## maps 
roll_numbers = [1, 2, 3, 4, 5]

def square(x):
    return x * x

def cube(x):
    return x * x * x

# Using map to apply square and cube functions

squared_roll_numbers = list(map(square, roll_numbers))
cubed_roll_numbers = list(map(cube, roll_numbers))

print("Squared Roll Numbers:", squared_roll_numbers)
print("Cubed Roll Numbers:", cubed_roll_numbers)

Squared Roll Numbers: [1, 4, 9, 16, 25]
Cubed Roll Numbers: [1, 8, 27, 64, 125]

In [6]:
## mapping using lambda functions

squared_roll_numbers_lambda = list(map(lambda x:x * x, roll_numbers))
print(squared_roll_numbers_lambda)

[1, 4, 9, 16, 25]