In [1]:
name ="anil"

In [2]:
print("Hello, " + name + "!")

Hello, anil!

In [3]:
''' This is a simple Python script that greets a user by name.'''

' This is a simple Python script that greets a user by name.'

In [5]:
phone_number = '233'
def greet_user(name):
    """Function to greet the user."""
    print(f"Hello, {name}!")

In [6]:
greet_user("anil")

Hello, anil!

In [12]:
num = 32
print(float(num))
age_str = '32'
print(float(age_str))

32.0
32.0

In [21]:
print(bool('')) ## empty strings are false
print(bool('0')) ## non-empty strings are true
print(bool(-1)) ## non-zero numbers are true

False
True
True

In [3]:
a = 9
b = 2
print(a // b)
print(a / b)

4
4.5

In [5]:
## comparistion operators
student_age= "32"
second_student_age = 32
print(student_age == second_student_age)  # False, different types

False

In [5]:
name = "anil"
if name >="anil":
    print("name is greater than or equal to 'an'")
elif name < "zara":
    print("name is less than 'zara'")

name is greater than or equal to 'an'

In [ ]:
range(0,5) # range is a built-in function in Python 3 that returns a sequence of numbers

range(0, 5)

In [5]:
print(type(range(0,5)))  # This will print <class 'range'>, indicating that range is a built-in type

<class 'range'>

In [9]:
array = range(0, 5)  # Create a range object from 0 to 4
for i in array:  # Iterate through the range object
    print(i,end="")  # Print each number in the range

01234

In [13]:
arrar = list(range(0, 5))  # Convert the range object to a list
print(arrar)  # Print the list, which will be [0, 1, 2, 3, 4]
print(type(arrar))  # This will print <class 'list'>, indicating that arrar is a list

[0, 1, 2, 3, 4]
<class 'list'>

In [19]:
user_names_list = ["anil",233,23,2332,43,56,7]
roll_numeber = range(1, 10)

In [25]:
## slicing
print(user_names_list[0:-1])  # ['anil', 233]

['anil', 233, 23, 2332, 43, 56]

In [27]:
user_names_list.append("suresh")
print(user_names_list)  # ['anil', 233, 23, 2332, 43, 56, 7, 'suresh']

['anil', 233, 23, 2332, 43, 56, 7, 'suresh', 'suresh']

In [32]:
index_of_suresh = user_names_list.index("suresh")
print(index_of_suresh)  # 7

7

In [34]:
## slicing with step size
print(user_names_list[0:5:2])  # ['anil', 23, 43]

['anil', 23, 43]

In [ ]:
## list comprehension similar to map in functional programming
roll_numeber_list = list(range(1, 10))
def square(x):
    return x * x
squared_roll_number = [square(x) for x in roll_numeber_list]
print(squared_roll_number)  # [0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
## multiple loops list comprehensiton
names = ["anil", "suresh", "ramesh"]
numbers = [32, 2, 3]
names_numbers = [(name, numbers[index]) for (index,name) in enumerate(names)]
print(names_numbers)

[('anil', 32), ('suresh', 2), ('ramesh', 3)]